{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "forceAllTransforms": true,
        "targets": {
          "node": "6.9.0",
        },
        "exclude": [
          "transform-async-to-generator",
          "transform-regenerator"
        ]
      }
    ]
  ]
}