/* WARNING: This css extreamly unoranized, go away :) */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* * * * * * * * * * * * * * * * * * * * *
* General
* * * * * * * * * * * * * * * * * * * * */

body {
	background:url('../images/bg/body.jpg') repeat;
    font:normal 14px/1.3 'helvetica neue', helvetica, arial;
    color:#bbb;
	text-shadow:#262729 0 -1px 0;
    -webkit-font-smoothing: antialiased;
    padding-top:120px;
}
header {
	float:left;
	margin-bottom:20px;
	width:100%;
}
#container {
	width:750px;
	margin: 0 auto 80px;
}

.c1 {
	width:750px;
	float:left;
}
.c2 {
	width:355px;
	float:left;
}
.c3 {
	width:235px;
	float:left;
}
.m10l {
	margin-left:10px;
}
.m20l {
	margin-left:20px;
}
.p10 {
	padding:10px;
}

p {
	font-size:12px;
	line-height:1.3;
}
h2 {
	font-size:18px;
	color:#bbb;
	text-shadow:#262729 0 -1px 0;
	font-weight:300;
	text-align: center;
	margin-bottom:15px;
}
h2.look {
	font-size:24px;
	margin-bottom:45px;
}
h2 strong {
    color:#fafafa;
}

h3 {
	font-size:14px;
	color:#3a3a3a;
	margin-bottom:8px;
}

input {
    font:normal 12px/1.3 'helvetica neue', helvetica, arial;
	font-size:20px;
    padding:2px 10px;
    border-radius:10px;
    border:solid 1px #555;
    float:left;
    margin-right:10px;
    margin-bottom:15px;
}
input:focus {
    border:none;
    outline:none;
    background-color:#eee;
    border-top:solid 1px #aaa;
    border-right:solid 1px #e6e6e6;
    border-bottom:solid 1px #e6e6e6;
    border-left:solid 1px #aaa;}

.btn {
    color:#ccc;
    margin-right:5px;
    padding:5px 10px;
    border-radius:10px;
    border:solid 1px #666;
    display:block;
    float:left;
    background-color:rgba(0,0,0,.1);
    cursor: pointer;
	cursor: hand;
}
.btn:hover {
    background-color:rgba(255,255,255,.05);
    color:#fafafa;
}


table {
    border-collapse:collapse;
    width:100%;
    margin-bottom:10px;
}
th {
    background-color:rgba(0,0,0,.1);
    border:solid 1px rgba(255,255,255,.1);
    padding:10px 10px;
    text-align:left;
    font-weight: bold;
    color:#ddd
}
td {
    padding:10px 10px;
    border:solid 1px rgba(255,255,255,.1);
}


/* * * * * * * * * * * * * * * * * * * * *
* Meny
* * * * * * * * * * * * * * * * * * * * */
.menu {
	position: fixed;
	left:0;
	top:0;
	margin:0;
	margin-left:-20px;
	width:100%;
	padding:0 20px;
	background:#333;
    background:rgba(30,30,30,.8);
	border-bottom:solid 1px rgba(0,0,0,.1);
	box-shadow: 0 0 20px rgba(0,0,0,1);
	z-index: 100;
}
.menu .menu-container {
	width:750px;
	font-size: 16px;
	margin: 0 auto;
}
.menu ul {
    float:left;
}
.menu ul li {
	display:block;
	float:left;
	line-height:60px;
}
.menu ul li.name {
	font-size:20px;
	color:#fff;
	font-weight: bold;
}
.menu ul li.name a {
    color:#eee;
}
.menu ul li a,
.menu ul li.name {
	float:left;
	display:block;
	text-decoration: none;}
.menu ul li a {
	padding:0 20px;
	color:#aaa;
}
.menu ul li a b {}
.menu ul li a:hover {
	background-color:rgba(255,255,255,.05);
	color:#fff;
}
.menu ul li a:hover b {
	color:#fff;
}

.menu ul.secondary {
    border:solid 1px #444;
    border-width:1px 1px 0 1px;
    width:750px;
}
.menu ul.secondary li {
    line-height:30px;
}
.menu ul.secondary li a {
    padding:0 20px;
    font-size:14px;
}

.code {
    background-color:rgba(0,0,0,.2);
    border:solid 1px rgba(255,255,255,.15);
    border-radius:10px;
    padding:20px 20px 0;
    margin-bottom:50px;
    font-size:14px;
}
.code h3 {
	font-size:18px;
	color:#aaa;
	text-shadow:#262729 0 -1px 0;
	font-weight:300;
	margin-bottom:15px;
}

/* * * * * * * * * * * * * * * * * * * * *
* Start page
* * * * * * * * * * * * * * * * * * * * */
.logo {
	background:url('../images/graphics/listjs-logo.png') no-repeat;
	width:328px;
	height:334px;
	float:left;
	margin:0 0 0 215px;
}
.slogan {display:none;}
.logo span,
.slogan span {
	display:block;
	margin-left:-10000px;
}
.download {
	clear:left;
	float:left;
	width:600px;
	margin-bottom:20px;
}
.download-btn {
    background: url('../images/bg/download.png');
	width:217px;
	height:76px;
	float:left;
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	font-size:26px;
	text-shadow:#047e0c 1px 1px 0;
	line-height:1.1;
}
.download-btn:hover {
	color:#eee;
	background-position:0 -76px;
}
.download-btn span {
	display:block;
	padding:13px 0 0 70px;
}
.download-btn small {
	display:block;
	font-size:13px;
	color:#b6e0f5;
	font-weight:normal;
}
.download p {
	color:#d8d5d5;
	font-size:11px;
	margin-bottom:5px;
}
.download p a {
	color:#54e45e;
}
.download p a:hover {
	color:#73f57c;
}

.share {
    padding:13px 20px 5px;
    clear:both;
    border-radius: 10px;
    margin:0 0 50px 24px;
    width:604px;
    border-bottom:solid 1px #666;
    background-color: rgba(255,255,255,0.1);
}

p.preamble {
	font-size:23px;
	color:#cecece;
	text-shadow:#262729 0 -1px 0;
	font-weight:300;
}
p.preamble strong {
    color:#fafafa;
}
p.preamble .bugwarning {
    color:#959494;
    font-weight:300;
    font-size:16px;
}

div.info {
    margin-bottom:40px;
    clear:both;
}

#example-list {
    margin-bottom:30px;
}
#example-list .list {
    clear:both;
}
#example-list li {
	font-size:20px;
	color:#cecece;
	text-shadow:#262729 0 -1px 0;
	font-weight:300;
	border-top:solid 1px #666;
	padding:10px 0;
}
#example-list li strong {
    color:#fafafa;
}


/* * * * * * * * * * * * * * * * * * * * *
* Examples
* * * * * * * * * * * * * * * * * * * * */
#container.example-page {
    margin-top:30px;
}

h1 {
    font:100 40px "helvetica neue", helvetica, arial;
    letter-spacing:1px;
    color:#cecece;
    text-align:center;
    margin-bottom:20px;
    text-shadow:#262729 0 -1px 0;
}

.note {
	text-shadow:#262729 0 -1px 0;
    margin-bottom:60px;
    text-align:center;
    color:#999;
    font-size:14px;
}
.note b {
    color:#eee;
}
.note a {
    color:#eee;
}

#lovely-things-list {
	margin-bottom:60px;
}
#lovely-things-list .thumb {
    width:60px;
    height:60px;
    float:left;
    margin-right:20px;
    border:solid 1px #333;
}
#lovely-things-list .list {
    clear:both;
    margin-bottom:10px;
}
#lovely-things-list .list li {
    padding:20px;
}
#lovely-things-list li:nth-child(2n+1) {
    background-color:rgba(0,0,0,.1);
    border:solid 1px rgba(255,255,255,.1);
    border-radius:10px;
}
#lovely-things-list li:nth-child(2n+1) .thumb {
    border:solid 1px #666;
}
#lovely-things-list h4 {
    color:#fafafa;
    font-weight:bold;
    margin-bottom:6px;
}
#lovely-things-list p {
    font:normal 14px/1.3 'helvetica neue', helvetica, arial;
    color:#aaa;
    text-align: left;
}
#lovely-things-list .sort-by {
    margin-bottom:10px;
    width:100%;
    float:left;
    clear:both;
}
#lovely-things-list .filter {
    margin-bottom:10px;
    width:100%;
    float:left;
    clear:both;
}


#contacts input {
    font-size:13px;
    margin:0;
    border-radius:5px;
    width:200px;
}

#contacts {
	margin-bottom:100px;
}

#contacts td.name,
#contacts td.age,
#contacts td.city {
    width:130px;
}
#contacts td.edit,
#contacts td.remove {
    width:130px;
}
#contacts td.add {
    width:300px;
}
#contacts input {
    width:100px;
}

.huge {
	max-height:500px;
	overflow:scroll;
}


/* * * * * * * * * * * * * * * * * * * * *
* Performance
* * * * * * * * * * * * * * * * * * * * */

#size {
    margin-left:100px;
    width:590px;
}
#time-table {
    margin-bottom:40px;
}
#performance-list .scroll-container {
    height:300px;
    overflow:scroll;
    margin-bottom:10px;
}
#performance-share {
    padding:13px 20px 5px;
    clear:both;
    border-radius: 10px;
    margin:0 0 50px 80px;
    width:520px;
    border-bottom:solid 1px #666;
    background-color: rgba(255,255,255,0.1);
}


/* * * * * * * * * * * * * * * * * * * * *
* Paging
* * * * * * * * * * * * * * * * * * * * */
.paging {
    padding-bottom:10px;
    clear:both;
    float:left;
}
.paging li {
    display:block;
    float:left;
    padding:10px 15px;
    border-radius:50%;
}
.paging li a {
    color:#999;
    text-decoration:none;
    display:inline-block;
    line-height:14px;
}
.paging li a.active {
    font-weight:bold;
    color:#eee;
    font-size:18px;
    margin:-1px;
}
.paging li a:hover {
    color:#eee;
}


/* * * * * * * * * * * * * * * * * * * * *
* Syntax coloring
* * * * * * * * * * * * * * * * * * * * */

pre {
    border-top:solid 1px rgba(255, 255, 255, .15);
    border-bottom:solid 1px rgba(255, 255, 255, .15);
    background-color:rgba(0, 0, 0, .2);
    padding:0 20px 10px;
    margin:0 -20px 20px;
    line-height:1.5;
}

pre, code {
   font-family: 'monaco', sans-serif;
   font-size: 12px;
}

pre .keyword { color: #FF0C4B; }
pre .string { color: #01DBFF; }
pre .regexp { color: #15E80B; }
pre .class { color: #15E80B; font-weight: bold; }
pre .special { color: #FFD901; }
pre .number { color: #01DBFF; }
pre .comment { color: grey; font-style: italic; }
